@font-face {
  font-family: "Yekan Bakh VF_2.0.0_system";
  src: url("../fonts/Yekan Bakh VF-Bold_2.0.0_system.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Yekan Bakh VF_2.0.0_system";
  src: url("../fonts/Yekan Bakh VF-Regular_2.0.0_system.ttf");
  font-weight: 400; 
}